/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 @media screen and (min-width: 768px) {
    body { 
        background-color: burlywood;
        font-size: xx-large;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        padding: 10px;
        border: 10px solid black;
        text-align: center;
    }

    figure {
        width: 45%;
        margin-right: 4.5%;
    }
 }

 @media screen and (min-width: 992px) {
    body {
        background-color: darkcyan;
        font-size: xx-large;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        padding: 10px;
        border: 10px solid black;
        text-align: center;
    }

    figure {
        width: 30%;
        margin-right: 2.5%;
    }
 } 
 
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.5 sans-serif;
    margin: 0 20%;
    border: solid 1px #ccc;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
  }
  
  img {
    max-width: 100%;
  }
  
  main {
    text-align: center;  
  }
  
  section {
  
  }
  
  figure {
    margin: 0;
    width: 50%;
    margin-right: 3.5%;
    display: inline-block;
  }
  
  figcaption {
    font-size: .8em;
  }